@page
@model KartverketRegister.Views.Admin.indexModel
@{
}

<h1>Main Admin Panel</h1>
<h2>Markers Pending Approval</h2>

<div class="main-container">
    <div id="filter">
        <h3>Filter Options</h3>
        <button>Show Map</button>
        <button>Sort by Date</button>
        <button>Sort by User</button>
    </div>

    <div id="mymrk">
        <div class="tmk-cont">
            <h3>Flying ass potato</h3>
            <p><b>Description:</b> It was really huge — I didn’t know what to do!</p>
            <p><b>By:</b> <u>Johnny Test</u></p>
            <button>Details</button>
            <button>Reject</button>
            <button>Approve</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
<script src="~/js/admin.js"></script>
<script>
    window.onload = () => {
        UpdateMarkerList("Everything");
    };
</script>


