@{
    ViewData["Title"] = "Home Page";
}


<div class="BigContainer">
    <div class="obstacleContainer">
        
        <button onclick="location.href='/Flightmode'">FlightMode</button>
        <button onclick="location.href='/Home/User'">User</button>
        <button onclick="location.href='/Pilot'">Logout</button>

    </div>
    <div id="SomeOtherForm" >
        <div id="mymrk"></div>
    </div>
    <div id="SomeOtherForm">
        <div id="mymrksub"></div>
    </div>
            


</div>


<link rel="stylesheet" href="~/css/PilotIndex.css" asp-append-version="true" />
<script src="~/js/PilotIndex.js"></script>






<script>
    setTimeout( ()=>{
        UpdateMyMarkerList();
        UpdateMySubmissionList();
    },200)

   
</script>

