@{
    ViewData["Title"] = "Home Page";
}

<div class="user-page">
    <h1>@ViewData["Title"]</h1>

    <div class="button-container">
        <a asp-controller="Pilot" asp-action="Index" class="btn btn-primary">Go to Pilot Page</a>
        <a asp-controller="Pilot" asp-action="Registry" class="btn btn-primary">Register Marker</a>
    </div>
</div>
