@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome</h1>

<div>
<a href="/Pilot"><button class="Log-button">Pilot</button></a>
<a href="/Admin"><button class="Log-button">Admin</button></a>
</div>

