@{
    ViewData["Title"] = "Home Page";
}

<h1>Helt sykt home page</h1>
<a href="/Pilot"><button>Til Registrerring kart siden!</button></a>

<div style="text-align:center; margin-top:40px;">
    <h3>Login as:</h3>
    <a href="/Account/Login?role=employee" class="btn btn-primary" style="margin:5px;">Employee</a>
    <a href="/Account/Login?role=crew" class="btn btn-success" style="margin:5px;">Crew</a>
    <a href="/Account/Login?role=admin" class="btn btn-danger" style="margin:5px;">Admin</a>
</div>
