<!-- USER INFORMATION-->
@{
    ViewData["Title"] = "User";
}
<h1>@ViewData["Title"]</h1>

<p>Information about the user</p>
<p>Like prob a account management site - might be making a dropdown menu thingy.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
