<!-- USER INFORMATION-->
@{
    ViewData["Title"] = "User";
}
<link rel="stylesheet" href="~/css/User.css" asp-append-version="true" />


<h1>@ViewData["Title"]</h1>

<a class="skibidi-button nav-link" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
<a class="skibidi-button nav-link" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>

