@page

@{
}
<link rel="stylesheet" href="~/css/SuperAdmin.css" />
<link rel="stylesheet" href="~/css/SuperAdminAssign.css" />

<script src="~/js/SuperAdminReviewAssign.js""> </script>

<h1>Hello MR superadmin, Here you can assign Submissions to your dear Slaves.</h1>

<div id="SubmissionsContainer">
	<h1>Skibidi</h1>
	<div class="AssignOptionMenu">Assign to selected submissions to: 
		<select><option>joe</option> 
		</select>
		<button>Assign</button>
	</div>
	<table class="UserTable">
		<tr>
			<td>Type</td>
			<td>something</td>
			<td>yyee</td>
			<td>whatever</td>
			<td>idnk man</td>
			<td><input type="checkbox" /></td>
			<td>Quick Assign</td>
		</tr>
	</table>
</div>

<script>
	const fuc = document.getElementById('FoundUsersContainer');
	const usi = document.getElementById('UserSearchInput');
	const orgs = document.getElementById('OrganizationSelector');


	
</script>
