@page

@{
}
<link rel="stylesheet" href="~/css/SuperAdmin.css" />
<script src="~/js/SuperAdminUserManager.js"></script>

<h1>yes</h1>



<script>
	const fuc = document.getElementById('FoundUsersContainer');
	const usi = document.getElementById('UserSearchInput');
	const orgs = document.getElementById('OrganizationSelector');

	
</script>
