@page

@{
}
<link rel="stylesheet" href="~/css/SuperAdmin.css" />

<body>
<h2>Hello mr superadmin! Here are things you can do</h2>
<h3> kanskje ha siden for statistikk først? og så ha noen napper på siden?</h3>

<div class="Container">
	<div class="sa-butt-cont">
		<a class="nav-link text-dark" asp-area="" asp-controller="Superadmin" asp-action="ManageUsers"><button>Manage Users</button></a>
	</div>

	<div class="sa-butt-cont">
		<a class="nav-link text-dark" asp-area="" asp-controller="Superadmin" asp-action="AssignSubmissions"><button>Assign submissions</button></a>

	</div>
	<div class="sa-butt-cont">
		<a class="nav-link text-dark" asp-area="" asp-controller="Superadmin" asp-action="Statistics"><button>Statistics</button></a>
	</div>
</div>

</body>