@page

@{
}
<link rel="stylesheet" href="~/css/SuperAdmin.css" />
<script src="~/js/SuperAdminUserManager.js"></script>

<h2>Manage users</h2>
<input placeholder="Full Name" type="text" id="UserSearchInput"></input> Filter organization:
<select id="OrganizationSelector"></select>
<div id="FoundUsersContainer"></div>


<script>
	const fuc = document.getElementById('FoundUsersContainer');
	const usi = document.getElementById('UserSearchInput');
	const orgs = document.getElementById('OrganizationSelector');

	let UMS = new UserManagerSearch(usi,fuc,orgs);
	UMS.Init();
</script>
