.ap {
    display: flex; /* Enable flexbox */
    gap: 20px; /* Optional: space between children */
    justify-content: flex-start; /* Align children to the start horizontally */
    align-items: flex-start; /* Align children to the top vertically */
    flex-wrap: nowrap; /* Prevent wrapping to next line */
}

/* Flex children - optional styling */
.information-ap {
    flex: 1; /* Grow to take available space */
    background-color: #f0f0f0; /* Example styling */
    padding: 10px;
}

#map {
    flex: 1; /* Grow to take available space */
    background-color: #d0d0d0; /* Example styling */
    padding: 10px;
    height:80vh;
}
#marker-info p {
    padding:0;
    margin:0;
}
.ar-button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin-right: 10px;
    color: #fff;
}
    .ar-button:first-child {
        background-color: #0066b2;
    }
    .ar-button:last-of-type {
        background-color: #ef4444;
    }