html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


body.dark-mode .navbar {
    background-color: #080808 !important;
    color: #eee !important;
}


body.dark-mode #mapSideBar {
    background-color: #080808 !important;
    color: #eee !important;
}


body.dark-mode #sideBarNav {
    background-color: #080808 !important;
    color: #eee !important;
}

    body.dark-mode #sideBarNav button {
        background-color: #080808 !important;
        color: #eee !important;
        border: none;
    }


body.dark-mode .sideBarContainer {
    background-color: #080808 !important;
    color: #eee !important;
}

body.dark-mode #TempMarkerForm {
    background-color: #080808 !important;
    color: #eee !important;
}

body.dark-mode #tempMarkerFormForm input {
    background-color: #080808 !important;
    color: #eee !important;
    border: 1px solid #444;
}
body.dark-mode #tempMarkerFormForm label {
    background-color: #080808 !important;
    color: #eee !important;
}

body.dark-mode #tempMarkerFormForm button {
    background-color: #080808 !important;
    color: #fff !important;
    border: none;
}
