html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* ============================
   Header
============================ */

.nav-btn {
    display: block;
    background: none;
    border: none;
    color: #212529;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
}


#ThemeButton {
    background-color: #0066b2;
    color: #fff;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}


#UserButton {
    background: none;
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:16px;
}

/* Bjelle-knapp */
#Notification-Open-Button {
    font-size: 20px;
    line-height: 1;
    background: none;
    border: none;
    padding: 8px 12px;
}

/* ============================
   RESET knapp
============================ */
#resetdbbutton {
    background-color: darkred !important;
    width: 190px !important;
    height: 52px !important;
    border-radius: 10px !important;
    margin-left: 10px !important;
}

    #resetdbbutton a {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        height: 100%;
        color: white !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        text-decoration: none !important;
    }
