html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Header*/
.nav-btn {
    background-color: #0d6efd !important;
    color: white !important;
    width: 190px !important; 
    height: 52px !important; 
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    text-decoration: none !important;
}
*/
/* ============================
   Ding dong knapp
============================ */
#Notification-Open-Button {
    padding: 0 !important; 
    font-size: 22px !important; 
}

/*RESET knapp*/
#resetdbbutton {
    background-color: darkred !important;
    width: 190px !important;
    height: 52px !important;
    border-radius: 10px !important;
    margin-left: 10px !important;
}

    #resetdbbutton a {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        height: 100%;
        color: white !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        text-decoration: none !important;
    }
