.MayDarknessSwallowYourSoul {
    background-color:#171717 !important;
    filter: invert(100%) saturate(0.9) hue-rotate(198deg) !important;
    background-image:none !important;
}

.MayDarknessSwallowYourSoul img {
    filter: invert(100%) saturate(0.9) hue-rotate(198deg) !important;
}
.MayDarknessSwallowYourSoulMap {
    filter: invert(69) saturate(3.7) contrast(1.1) grayscale(29) !important;
}