body {
    background-color:#171717 !important;
    filter: invert(100%) saturate(0.9) hue-rotate(198deg) !important;
    
}

body img {
    filter: invert(100%) saturate(0.9) hue-rotate(198deg) !important;
}